
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <div> 
        <ul>
            @if (Request.IsAuthenticated)
            {
                <text>
                    <li>@Html.ActionLink("Read Mail", "ReadMail", "Home")</li>
                    <li>@Html.ActionLink("Send Mail", "SendMail", "Home")</li>
                </text>
            }
        </ul>
        <div>
            @Html.Partial("_LoginPartial")
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
